* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto',georgia,garamond,serif;
}
		
p {
	color: #f8f9fa;
}
	
.container {
	margin: auto;
}
	
.header .row {
	margin-top: 70px;
}

#contact-us {
    padding-top: 50px;
    position: relative;
    background: #fff;
    min-height: calc(75vh - 40px);
}

#contact-us .chromerce-navigation-tab {
    color: #5f5f5f;
    font-size: 18px;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#contact-us .chromerce-navigation-tab span.margin-padding {
    padding-bottom: 30px;
    margin-right: 30px;
}

#contact-us .chromerce-navigation-tab span.margin-padding a {
    color: #5f5f5f;
}

#contact-us .chromerce-navigation-tab span.margin-padding a:hover {
    color: #000;
    outline: 0;
    text-decoration: none;
}

#contact-us .chromerce-navigation-tab span.margin-padding.active {
    border-bottom: 2px solid #00c5be;
    color: #000;
}

#contact-us .tab-seperator {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    margin-bottom: 50px!important;
    padding: 0;
    margin: auto;
    width: 90%;
}


#contact-us .wrap {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#contact-us .wrap.chromerce-contactus .panel-left {
    width: 75%;
}

#contact-us .wrap.affiliate {
    padding-top: 30px;
}

#contact-us .wrap.affiliate .panel-left {
    width: 58%;
}

#contact-us .wrap.affiliate .panel-left h3 {
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 15px;
}

#contact-us .wrap.affiliate .page-title {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    color: #161616;
    margin: 1.5em 0 .2em;
}

#contact-us .wrap.affiliate li {
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 400;
    color: #878787;
}

#contact-us .wrap.affiliate .pannel-right {
    width: 40%;
}

#contact-us .wrap.affiliate .pannel-right  .contact-form,#contact-us .wrap.affiliate .pannel-right .contact-form input[type=email],#contact-us .wrap.affiliate .pannel-right .contact-form input[type=number],#contact-us .wrap.affiliate .pannel-right .contact-form input[type=text] {
    width: 100%;
}

#dd-contact {
    width: 100%;
}

#contact-us .wrap .panel-left {
    display: inline-block;
    vertical-align: top;
    width: 90%;
    line-height: 1.5;
}


#contact-us .wrap .panel-left h2 {
    font-size: 29px;
    margin: 0 0 10px;
}

#contact-us .wrap .panel-left h2 span {
    color: #878787;
    font-size: 14px;
    display: block;
}

#contact-us .wrap .panel-left h1 {
    font-size: 36px;
    margin: 0 0 10px;
}

#contact-us .wrap .panel-left h3 {
    font-size: 22px;
    margin: 15px 0 10px;
    font-weight: 500;
}

#contact-us .wrap .panel-left h3 p {
    font-size: 12px;
    margin-bottom: 10px;
}

#contact-us .wrap .panel-left p {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 300;
    color: #878787;
}

#contact-us .wrap .panel-left p.sub-text {
    font-weight: 500;
}

#contact-us .wrap .panel-left h4 {
    font-size: 18px;
    margin: 0 0 10px;
    font-weight: 500;
}

#contact-us .wrap .panel-left a {
    color: #00c5be;
    font-weight: 500;
}

#contact-us .wrap .panel-left ul.square {
    margin: 0 30px;
    padding: 0;
}

#contact-us .wrap .panel-left ul.square li {
    list-style-type: square;
    position: relative;
    color: #000;
}

#contact-us .wrap .pannel-right {
    float: right;
    text-align: left;
    display: inline-block;
    width: 25%;
    line-height: 1.5;
}

#contact-us .wrap .pannel-right h3 {
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 15px;
}

#contact-us .wrap .pannel-right p {
    margin: 0 0 15px;
    font-weight: 400;
    font-size: 15px;
    color: #878787;
}

#contact-us .wrap .pannel-right a {
    color: #00c5be;
}

#contact-us .contact-form {
    margin-top: 30px;
}

#contact-us .contact-form .contact-form-field {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: 0;
    width: 80%;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

#contact-us .contact-form .submit-btn {
    font-size: 16px;
    padding: 15px 50px;
}

#contact-us .contact-form .submit-btn:hover {
    background: gold;
}
