*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family: 'Roboto',georgia,garamond,serif;
}

.flex{
	display:flex;
	justify-content: center;
	
}

.slider-outer{
	display:flex;
	justify-content: center;
}

.slider-outer img{
	width:50px;
	height:50px;
}


h1{
	text-align: center;
}

.container{
	
	 	width:100vw; 
	margin:40px auto;
	overflow:auto;
	
}

.slider-inner{
	
	/* width:100vw; 
	height:300px; */
	
	width:1920px;
	height:554px;
	
	position:relative;
	overflow:hidden;
	float:left;
	padding:3px;
	border:#666 solid 1px;
}

.slider-inner img{
	display:none;
	width:1920px;
	height:554px;
}

.slider-inner img.active{
	display:inline-block;
}

.prev,.next{
	float:left;
	margin-top:130px;
	cursor: pointer;
}

.prev{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next{
	position:relative;
	margin-left:-45px;
	z-index:100;
}

/*---------- Carousel ----------*/

.hero {

display: flex;
 flex-direction: column;
 height: auto;
 width: 70vw;
 background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm233-eye-02.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b625852b7057993e0983ec35ceb8e4b3");
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 margin:auto;
 align-items: center;
 color:white;
 padding-top:100px;
 padding-bottom:100px;
 justify-content:center;
 flex-flow: row wrap;
	 overflow: hidden;



}

.hero-title{
 align-items: center;
 text-align:center;
 font-size:15px;

}
button{

	 background-color:black;
	 color:white;
	 border-radius: 2px;
	 padding:10px;
	 margin-top:25px;
	 margin-bottom:25px;
		 justify-content:center;
		 font-size:10px;


}

button:hover{color:red;}


.products{
	 margin-top:50px;
	 margin-bottom:50px;
}

.row{
	 display:flex;
	 align-items:center;
	 flex-wrap:wrap;
	 justify-content:space-around;


}

.col-products{
	 flex-basis:30%;
	 min-width:250px;
	 margin-bottom:30px;
	 padding-top:20px;

}
.col-products img {
	 width:100%;
}

.col-products img:hover{
	 opacity:0.5;
}

.wrapper{
	 max-width:1080px;
	 margin:auto;

}

.align{
	 text-align:center;
}

.align-left{
	 text-align:left;
}

.col-sale{
	 flex-basis:25%;
	 min-width:250px;
	 margin-bottom:30px;
	 padding:10px;

}

.col-sale img{
	width:100%;
	height:250px;

}

