/*---------- login ----------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto',georgia,garamond,serif;
}

.login {
    padding: 50px 0;
}

.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0px;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
  display: inline-block;
}

.form-container form{
    max-width: 300px;
    padding: 0px 20px;
    position: absolute;
    align-items: center;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0px;
    padding: 0px 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
}

form .btn:focus {
  outline: none;
}

.passwordinfo {
  position: relative;
}

.passwordinfo input {
  display: block;
}

.passwordinfo .info {
  position: absolute;
  top: 3px;
  left: 230px;
}

.info {
  position: relative;
  display: inline-block;
}

.info .infotext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
}

.info:hover .infotext {
  visibility: visible;
}

#loginForm {
  width: 100%;  
  align-items: center;
}

#registerForm {
  width: 100%;  
  align-items: center;
  left: 0px;
}

form a {
    font-size: 12px;
}

#indicator {
    width: 100px;
    border: none;
    background: black;
    height: 3px;
    margin-top: 8px;
}

#instructions {
  color: red;
  margin-left: 15px;
}

/*---------- grid ----------*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
  }
  
  
  .col-xs-12 {
    grid-column: span 12
  }
  
  .col-xs-11 {
    grid-column: span 11;
  }
  
  .col-xs-10 {
    grid-column: span 10
  }
  
  .col-xs-9 {
    grid-column: span 9
  }
  
  .col-xs-8 {
    grid-column: span 8
  }
  
  .col-xs-7 {
    grid-column: span 7
  }
  
  .col-xs-6 {
    grid-column: span 6
  }
  
  .col-xs-5 {
    grid-column: span 5
  }
  
  .col-xs-4 {
    grid-column: span 4
  }
  
  .col-xs-3 {
    grid-column: span 3
  }
  
  .col-xs-2 {
    grid-column: span 2
  }
  
  .col-xs-1 {
    grid-column: span 1
  }
  
  @media (min-width: 768px) {
    .col-sm-12 {
      grid-column: span 12
    }
  
    .col-sm-11 {
      grid-column: span 11;
    }
  
    .col-sm-10 {
      grid-column: span 10
    }
  
    .col-sm-9 {
      grid-column: span 9
    }
  
    .col-sm-8 {
      grid-column: span 8
    }
  
    .col-sm-7 {
      grid-column: span 7
    }
  
    .col-sm-6 {
      grid-column: span 6
    }
  
    .col-sm-5 {
      grid-column: span 5
    }
  
    .col-sm-4 {
      grid-column: span 4
    }
  
    .col-sm-3 {
      grid-column: span 3
    }
  
    .col-sm-2 {
      grid-column: span 2
    }
  
    .col-sm-1 {
      grid-column: span 1
    }
  }
  
  @media (min-width: 992px) {
    .col-md-12 {
      grid-column: span 12
    }
  
    .col-md-11 {
      grid-column: span 11;
    }
  
    .col-md-10 {
      grid-column: span 10
    }
  
    .col-md-9 {
      grid-column: span 9
    }
  
    .col-md-8 {
      grid-column: span 8
    }
  
    .col-md-7 {
      grid-column: span 7
    }
  
    .col-md-6 {
      grid-column: span 6
    }
  
    .col-md-5 {
      grid-column: span 5
    }
  
    .col-md-4 {
      grid-column: span 4
    }
  
    .col-md-3 {
      grid-column: span 3
    }
  
    .col-md-2 {
      grid-column: span 2
    }
  
    .col-md-1 {
      grid-column: span 1
    }
  }
  
  @media (min-width: 1200px) {
    .col-lg-12 {
      grid-column: span 12
    }
  
    .col-lg-11 {
      grid-column: span 11;
    }
  
    .col-lg-10 {
      grid-column: span 10
    }
  
    .col-lg-9 {
      grid-column: span 9
    }
  
    .col-lg-8 {
      grid-column: span 8
    }
  
    .col-lg-7 {
      grid-column: span 7
    }
  
    .col-lg-6 {
      grid-column: span 6
    }
  
    .col-lg-5 {
      grid-column: span 5
    }
  
    .col-lg-4 {
      grid-column: span 4
    }
  
    .col-lg-3 {
      grid-column: span 3
    }
  
    .col-lg-2 {
      grid-column: span 2
    }
  
    .col-lg-1 {
      grid-column: span 1
    }
  }