*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',georgia,garamond,serif;
}

p{
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-1{
    flex-basis: 50%;
    min-width: 300px;
}

.col-1 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.options{
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content:space-around;
    max-width:1480px;
    margin:auto;
}

.card1, .card2, .card3{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    height: 150px;
    border-radius: 0px;
    flex-basis:30%;
    min-width:250px;
    margin-bottom:30px;
    margin-left: 30px;

}

.wishlist, .orderhistory, .searchhistory{
    position: relative;
    left: 7%;
    font-size: 20px;
}

h1, h4{
    color:  #343a40;
}

.card1:hover, .card2:hover, .card3:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-style: solid;
    border-color:  #343a40;
    transition-duration: 0.1s;
}

.options{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.orderhistory, .wishlist, .searchhistory {
    padding: 2px 16px;
}